
<div class="parent">
    <h4>app 共同父组件</h4>
    <hr>
    <p>报价组件</p>
    <app-price-quote (buy)="buyHandler($event)"></app-price-quote>

    <hr>
    <p>订单组件</p>
    <app-order [priceQuote] = "priceQuote"></app-order>
    <div>app 组件: 股票代码是: {{priceQuote.stockCode}}, 价格是: {{priceQuote.latePrice | number: '2.2-2'}}</div>
</div>
<!--
组件的通讯分两种 
    输入属性: 父组件向子组件传递数据 [childField]="parentField", childField 需要用 @Input() 修饰;
    输出属性: childField 需要用 @Output 修饰, 而且需要一个 EventEmitter<any> (import { EventEmitter } from '@angular/core') 事件发射器发射数据:
        1. 父子组件关系传递;
        2. 有共同父组件的多子组件关系传递 [中间人: parentComponent];
        3. 无共同父组件的多子组件关系传递 [中间人: service].
    -->